<div class="card mb-3" style="max-width: 24rem; outline: aliceblue;">
  <div class="card-body">
    <h5 class="card-title">
      <%= link_to actor.firstname + " " + actor.lastname, actor %>
    </h5>
    <p class="card-text">
      <%= actor.bio.truncate_words(15) %>
    </p>
    <p class="card-text">
      <small class="text-muted">
        <label>Birth date: </label>
        <%= actor.date_of_birth.strftime("%A, %B %e, %Y") %> |
        <%= link_to 'Show', actor %> |
        <% if is_admin! %>
          <td><%= link_to 'Edit', edit_actor_path(actor) %></td> |
          <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
          <% if @movie %>
            <% if  @list != "true" %>
              <% if @role == "true" %>
                <td><%= link_to 'Add Role', role_path(actor: actor, id: @movie), method: :put %></td> |
              <% else %>
                <td><%= link_to 'Add Director', direct_path(actor: actor, id: @movie), method: :put %></td> |
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </small>
    </p>
  </div>
</div>