  <p>
    <strong>Firstname:</strong>
    <%= actor.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= actor.lastname %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= actor.date_of_birth %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= actor.bio %>
  </p>

  <h4>Acted In: </h4>
  <% actor.acted_in.each_slice(4) do |movies| %>
    <div class="row">
      <% for movie in movies %>
        <%= render 'movies/show', movie: movie %>
      <% end %>
    </div>
  <% end %>