<h4>Search</h4>
<%= form_tag(actors_path(per_page: @per_page, list: @list, role: @role, movie: @movie), {method: :get , :class => "form form-horizontal"} ) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= hidden_field_tag(:per_page, @per_page) %>
  <%= hidden_field_tag(:list, @list) %>
  <%= hidden_field_tag(:role, @role) %>
  <% if @movie %>
  <%= hidden_field_tag(:movie, @movie.id) %>
  <% end %>
  <%= submit_tag("Search") %>
<% end %>
<br>

<h1>Actors</h1>



<div class="container-fluid">
  <div class="row">
    <div class="digg_pagination">
      <%= will_paginate(@actors) %>
      <label>Per Page</label>
      <%= link_to_if(@per_page != "5" , "5", actors_path(:per_page =>5,:search => params[:search], list: @list, role: @role, movie: @movie), method: :get)%>
      <%= link_to_if(@per_page != "10", "10", actors_path(:per_page =>10,:search => params[:search], list: @list, role: @role, movie: @movie), method: :get)%>
    </div>
  </div>

  <div>
    <% @actors.each_slice(4) do |actors| %>
      <div class="row"  style="align-items: start">
        <% actors.each do |actor|%>
          <div class="col-md-3">
          <%= render 'actors/card', actor: actor %>
          </div>
        <%end %>
      </div>
    <% end %>
  </div>
</div>

<br>
<% if is_admin! %>
  <%= link_to 'New Actor', new_actor_path %>
<% end %>