<p id="notice"><%= notice %></p>

<h1>Actors</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Date of birth</th>
      <th>Bio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @actors.each do |actor| %>
      <tr>
        <td><%= actor.firstname %></td>
        <td><%= actor.lastname %></td>
        <td><%= actor.date_of_birth %></td>
        <td><%= actor.bio %></td>
        <td><%= link_to 'Show', actor %></td>
        <% if is_admin! %>
          <td><%= link_to 'Edit', edit_actor_path(actor) %></td>
          <td><%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% if  @list != "true" %>
            <% if @role == "true" %>
              <td><%= link_to 'Add Role', role_path(actor: actor, id: @movie), method: :put %></td>
            <% else %>
              <td><%= link_to 'Add Director', direct_path(actor: actor, id: @movie), method: :put %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if is_admin! %>
  <%= link_to 'New Actor', new_actor_path %>
<% end %>