
<%= form_with model: article do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.label "Title: "%>
    <%= f.text_field :title, class:'form-control string' %>
    <br>
    <%= f.label :thumbnail %>
    <%= f.hidden_field :thumbnail_cache %>
    <%= f.file_field :thumbnail %>
    <br>
    <%= f.label "Body: "%>
    <%= f.rich_text_area :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
