
<%= form_with model: movie do |f| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    <%= f.label "Title: "%>
    <%= f.text_field :title, class:'form-control string' %>
    <%= f.label "Release Date: "%>
    <%= f.date_select :release_date, class:'form-control date', start_year: Date.today.year, end_year: Date.today.year - 100 %>
    <br>
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail %>
    <br>
    <%= f.label :banner%>
    <%= f.file_field :banner %>
    <br>
    <%= f.label "Duration: " %>
    <%= f.time_select :duration, value: :duration, :default => Time.current, include_seconds: true %>
    <br>
    <%= f.label "Summary: "%>
    <%= f.rich_text_area :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
