<h2>Log in</h2>
<p id="notice"><%= notice %></p>
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in" %>
  </div>
<% end %>
<div class="row">
  <% if notice %>
    <div data-alert class="alert-box info radius">
      <%= notice %><%= link_to "X", '#', :class => 'close' %>
    </div>
  <% end %>
  <% if alert %>
    <div data-alert class="alert-box alert radius">
      <%= alert %><%= link_to "X", '#', :class => 'close' %>
    </div>
  <% end %>
</div>
<%= render "devise/shared/links" %>
