
<div class="col">
  <div class="card mb-4" style="max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">
        <% if review.score  %>
          <% review.score.times do %>
            <span class="fa fa-star"></span>
          <% end %>
        <% else %>
          <label>No Rating</label>
        <% end %>
      </h5>
      <% if !details %>
        <p class="card-text">
          <%= review.body.to_plain_text.truncate_words(25) %>
        </p>
      <% else %>
        <p class="card-text">
          <%= review.body.to_plain_text %>
        </p>
      <% end %>
      <p class="card-text">
        <small class="text-muted">
          <%= review.updated_at.strftime("%A, %B %e, %Y") %>|
          <%= pluralize(num_helpful(review), "") %>
          <label> out of </label>
          <%= pluralize(num_total(review), "") %>
          <label>users found review helpful</label>
          <% if current_user&.admin or is_reviewer(review)%>
            <%= link_to "Delete", movie_review_path(@movie, id: review), method: :delete %>|
            <%= link_to "Edit", edit_movie_review_path(@movie, id: review), method: :get %>|
          <% else %>
            <% if is_helpful(review) %>
              <%= link_to "Unhelpful", helpful_path(movie_id: @movie, id: review, type: "unhelpful"), method: :put %>|
            <% elsif is_unhelpful(review) %>
              <%= link_to "Helpful", helpful_path(movie_id: @movie, id: review, type: "helpful"), method: :put %>|
            <% elsif current_user %>
              <%= link_to "Helpful", helpful_path(movie_id: @movie, id: review, type: "helpful"), method: :put %>|
              <%= link_to "Unhelpful", helpful_path(movie_id: @movie, id: review, type: "unhelpful"), method: :put %>|
            <% end %>
          <%  end %>
          <%= link_to "Details", movie_review_path(@movie, id: review), method: :get %>
        </small>
        <br>
        <label>Review By: </label>
        <%= link_to review.user.username, user_path(id: review.user.id), method: :get %>
      </p>
    </div>
  </div>
</div>